# Folders to exclude
debug/
zOld/
obj/
data/
work_dir/
.vs/
debug_prompts/
zCollage_mit_Schrift/
2D_vs_3D_comparison
2D/
3D/
middleSlices2/

# Large files
STARDUST_MedSAM-MG/checkpoints/sam2_hiera_tiny.pt
STARDUST_MedSAM-MG/checkpoints/sam2.1_hiera_tiny.pt
gitCommands

#files to exclude
README.pdf